//元素居中
@mixin displayEle(){
    display: flex;
    justify-content: center;
    align-items: center;
}
//元素两边等距分开居中
@mixin displayEleBetween(){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
//元素轴向排列
@mixin displayEleColumn(){
    display: flex;
    flex-direction: column;
    align-items: center;
}
//元素
@mixin displayflex(){
    display: flex;
}
//元素定位
@mixin postionele(){
    position: absolute;
    top: -22px;
}
//元素定位
@mixin postionRelaele(){
    position: relative;
}