$body-color: red;

body {
  // color: $body-color;
  background: #f6f6f6;
  padding-right: 0px !important;
}
body::-webkit-scrollbar {
  width: 0 !important;
}
::v-deep .el-tooltip__popper .is-dark {
  // max-width: 300px;
}
.el-tooltip__popper {
  // max-width: 1000px;
}
// /*  */