// 主题中声明了头部背景色，及文字颜色变量

$light-theme: (
  header-top_bgcolor: #ffffff,
  header-top_color: #4e4e4e,
  main-left_licolor: #ffffff,
  main-left_h2: #343a40,
  main-left_dscibe: rgba(0, 0, 0, 0.43),
  main-left_info: #999,
  main-right_title: #1890ff,
  main-right_aside_p: #666666,
  main-right_aside_catespan: #ccc,
  about-normalP: #404040,
  timeline-card-p: #333333,
  timeline-card-timestamp: #909399,
);
$dark-theme: (
  header-top_bgcolor: #1b1b1b,
  header-top_color: #cdcdcd,
  main-left_licolor: #343434,
  main-left_h2: #ffffff,
  main-left_dscibe: #cdcdcd,
  main-left_info: #f8f8ff,
  main-right_title: #666666,
  main-right_aside_p: #f5f5f5,
  main-right_aside_catespan: #666,
  about-normalP: #f5f5f5,
  timeline-card-p: #f5f5f5,
  timeline-card-timestamp: #f5f5f5,
);
