@import "./themes.scss"; //主题颜色变量配置
$themes: (
  dark-theme: $dark-theme,
  light-theme: $light-theme,
);
// 遍历主题map 获取HTML的data-theme值
@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    // !global 把局部变量提升为全局变量
    $theme-map: $theme-map !global;
    // 判断html的data-theme的属性值  #{}是sass的插值表达式
    // & sass嵌套里的父容器标识   @content是混合器插槽，像vue的slot
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

// 声明一个根据key获取颜色的function
// 用于根据HTML的data-theme值及调用者传过来的key去_themes.scss里获取相应的颜色
@function themed($key) {
  @return map-get($theme-map, $key);
}

// 获取背景颜色
@mixin background_color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

// 获取字体颜色
@mixin font_color($color) {
  @include themeify {
    color: themed($color) !important;
  }
}

// 获取边框颜色
@mixin border_color($color) {
  @include themeify {
    border: themed($color) !important;
  }
}
// 获取阴影
@mixin box_shadow($color) {
  @include themeify {
    box-shadow: 5px 1px 18px 0 themed($color) !important;
  }
}
